<html lang="en">
    <head>
  <meta charset="utf-8"/>
  <title>CinciMahjong</title>
  <link rel="shortcut icon" href="/assets/img/circlelogo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>

</html>